.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.divider {
  margin: 20px 0;
}

.submitButton {
  width: 100%;
  margin-top: 20px;
  background-color: teal;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.redirectText {
  margin-top: 10px;
  text-align: center;
}
